
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: column;
}

.about_me_title{
    text-align: center;
}

.thumbnail{
    border: none;
    margin: 10px;
}

.panel-heading{
    text-align: center;
}

ul.skills {
    padding: 0;
    text-align: center;
}


.skills li{
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    background: #26D0CE;
    color: #fff;
    border-radius: 6px;
}


.skills li:nth-child(odd) {
  background: #1A2980;
  border-radius: 6px;
  color: #fff;
}

.about_me_title{
    font-weight: 300;
    font-size: 28px;
    color: #1A2980;
    padding-bottom: 2%;
}

.panel{
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.43);
    margin-top: 30px;
}


.panel-heading{
    background: #1A2980; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.panel-heading h3{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    word-spacing: 1.5;
}

.panel-body{
    font-size: 1.5em;
    font-weight: 300;
}


@media (min-width:768px){
    
    .about_me_title {
        text-align: center;
        margin-left: 70px;
    }
        
    .panel{
        width: 86%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.38);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.43);
        margin-top: 40px;
        margin-left: 70px;
    }
    
    .profile_img{
        margin-top: 40px;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    
    .about{
        flex-direction: row;
    }
   
    .profile_img{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 8%;
    }
    
}

@media (min-width:1024px){
    .panel{
        width: 50%;
    }
}
