body {
    box-sizing: border-box;
    margin: 0;
}

.main-header{
    background: #1A2980; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-header,
.main-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.main-nav li{
    list-style: none;
    margin-left: -40px;
    margin-bottom: 10px;
}

.name a,
.main-nav a {
    display: block;
    padding: 10px 15px;
    color:#fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.38);
    text-decoration: none;
}

.main-nav > li > a:hover{
    border: 1px solid #1A2980;
    width: 200px;
    border-radius: 20px;
    background: #1A2980;
    text-align: center;
}


h2{
  text-align: center;
}

.search_wrapper{
  display: flex;
  justify-content: center;
}

input {
    width: 450px;
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 38px 256px;
}

.gallery{

    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive-image{
    max-width: 100%;
}

.list a {
    margin: 1rem 0;
}

.list a {
    display: block;
}


@media screen and (min-width: 600px){
    .name,
    .main-header,
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .list{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .list a{
        width: calc(34% - 2rem);
        margin: 1rem;
    }

    input{
        width: 315px;
        margin-left: 130px;
    }

}

@media screen and (min-width: 700px){
    .name,
    .main-header,
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
     .main-nav{
        margin-left: -5px;
    }

    .main-nav li {
        margin: 10px;
        padding: 10px;
    }
    
    .list a {
        width: calc(33% - 2rem);
        margin: 1rem;
    }

    input{
        margin-left: 155px;
    }
}
@media screen and (min-width: 801px){
    .name,
    .main-header,
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .list a{
        width: calc(24% - 2rem);
    }
    input{
        width: 320px;
        margin: 38px calc(29% - 20px);
    }
    
    
}

    